{% extends 'index.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Reportes</h2>
    <br>
    <h5>Simples</h5>
    <div class="row">
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
    </div>
    <hr class="border border-primary-subtle">
    <h5>Intermedios</h5>
    <div class="row">
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
    </div>
    <hr class="border border-primary-subtle">
    <h5>Complejos</h5>
    <div class="row">
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
        <div class="col">
            <form action="{{ url_for('empleado.perfil', id_empleado=session['empleado']) }}" method="GET">
                <button type="submit" class="btn btn-success">Perfil</button>
            </form>
        </div>
    </div>

    <img src="data:image/png;base64,{{ grafico_base64 }}" alt="Gráfico">

</div>
{% endblock %}