{% extends 'index.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Reportes</h2>
    <div class="row">
        <div class="col">
            <form action="{{ url_for('reporte.simples') }}" method="GET">
                <button type="submit" class="btn btn-success">Simples</button>
            </form>
        </div>
        <div class="col">
            <form action="{{ url_for('reporte.intermedios') }}" method="GET">
                <button type="submit" class="btn btn-success">Intermedios</button>
            </form>
        </div>
        <div class="col">
            <form action="{{ url_for('reporte.complejos') }}" method="GET">
                <button type="submit" class="btn btn-success">Complejos</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}