{% extends 'index.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <form id="carritoForm" action="{{ url_for('pedido_proveedor.pagar', id_empleado=session['empleado']) }}"
        method="POST">
        {% for libro in libros %}
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="card-body">
                        <p class="card-title">{{ libro[1] }}</p>
                        <p class="card-text"><strong>Autor:</strong> {{ libro[9] }} {{
                            libro[10] }}</p>
                        <p class="card-text"><strong>Editorial:</strong> {{ libro[2] }}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{ (libro[3]|float * 0.7)|round(2) }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="card-body">
                        <p class="card-text"><strong>Cantidad Disponible:</strong> {{ libro[4] }}</p>
                        <p class="card-text"><strong>Dimensiones:</strong> {{ libro[5] }}x{{ libro[6] }}x{{ libro[7] }}
                            (AltoxAnchoxLargo)</p>
                        <p class="card-text"><strong>Géneros:</strong> {{ libro[8] }}</p>
                        <div class="row">
                            <div class="col">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button onclick="disminuirCantidad({{ libro[0] }})" type="button"
                                        class="btn btn-outline-primary">Disminuir</button>
                                    <button onclick="aumentarCantidad({{ libro[0] }})" type="button"
                                        class="btn btn-outline-primary">Aumentar</button>
                                </div>
                            </div>
                            <div class="col">
                                <input type="hidden" id="producto_{{ libro[0] }}" name="producto_{{ libro[0] }}">
                                <input type="hidden" id="cantidad_input_{{ libro[0] }}" name="cantidad_{{ libro[0] }}">
                                <p>Cantidad: <span id="cantidad_{{ libro[0] }}">1</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border border-primary-subtle">
        {% endfor %}
        <div class="row">
            <div class="col">
                <label for="metodo_pago">Método de pago</label>
                <select class="form-control" id="metodo_pago" name="metodo_pago" required>
                    <option value="1">Tarjeta de crédito</option>
                    <option value="2">Transferencia bancaria</option>
                </select>
            </div>
        </div>
        <hr class="border border-primary-subtle">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success">Pagar</button>
            </div>
        </div>
    </form>
</div>
<script>
    function aumentarCantidad(id) {
        var cantidadElement = document.getElementById("cantidad_" + id);
        var cantidadInput = document.getElementById("cantidad_input_" + id);
        var cantidad = parseInt(cantidadElement.innerText);
        cantidadElement.innerText = cantidad + 1;
        cantidadInput.value = cantidad + 1;
    }

    function disminuirCantidad(id) {
        var cantidadElement = document.getElementById("cantidad_" + id);
        var cantidadInput = document.getElementById("cantidad_input_" + id);
        var cantidad = parseInt(cantidadElement.innerText);
        if (cantidad > 1) {
            cantidadElement.innerText = cantidad - 1;
            cantidadInput.value = cantidad - 1;
        }
    }

    // Agregar un event listener para enviar el formulario cuando se haga clic en el botón de "Pagar Carrito"
    document.getElementById("carritoForm").addEventListener("submit", function (event) {
        event.preventDefault();
        console.log("Datos del formulario:", new FormData(this));
        this.submit();
    });

</script>
{% endblock %}