{% extends 'index.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    {% for proveedor in proveedores %}
    <div class="card-body">
        <h5 class="card-title"><a
                href="{{ url_for('pedido_proveedor.gestion_proveedor', proveedor_id=proveedor[0]) }}">{{
                proveedor[1] }}</a>
        </h5>
        <p class="card-text">{{ proveedor[2] }}</p>
        <p class="card-text">{{ proveedor[3] }}</p>
    </div>
    {% endfor %}
</div>

<hr class="border border-primary-subtle">
<div class="container">
    {% for pedido in pedidos %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="card-body">
                    <p class="card-title"><strong>Pedido:</strong> {{ pedido[0] }}</p>
                    <p class="card-title"><strong>Proveedor:</strong> {{ pedido[4] }}</p>
                    <p class="card-text"><strong>Fecha:</strong> {{ pedido[2] }}</p>
                    <p class="card-text"><strong>Total:</strong> {{ pedido[1] }}</p>
                    <p class="card-text"><strong>Estado:</strong> {{ pedido[3] }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="card-body">
                    <form action="{{ url_for('pedido_proveedor.gestion', id_pedido=pedido[0]) }}" method="GET">
                        <button type="submit" class="btn btn-outline-primary">Gestionar
                            pedido</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="border border-primary-subtle">
    {% endfor %}
</div>
{% endblock %}